@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: Poppins, sans-serif;
    font-size: 400;
  }
  nav{
    background-image: linear-gradient(to bottom, rgba(22, 22, 22, 0.664), rgba(0, 0, 0, 0.788));
    height: 120px;
    width: 100%;
    border-bottom: 3px solid #ff9737;
    z-index: 1;
  }
  label.logo img{
    width: 90px;
    height: 90px;
    margin: 12px 0 0 80px;
  }
  label.logo a:hover{
    background: none;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 120px;
    margin: 0 15px;
  }
  nav ul li a{
    color: white;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a:hover{
    background: #fd983a;
    transition: .5s;
    border-radius: 5px;
    text-decoration: none;
  }
  a.active{
    border-bottom: 2px solid #ff9737;
  }

  .container {
    font-size: 30px;
    color: white;
    float: right;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-image: linear-gradient(to right, rgb(172, 103, 1) , rgb(255, 170, 72));
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    margin-right: 40px;
    margin-top: 30px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 953px){
    label.logo img{
        width: 90px;
        height: 90px;
        margin: 12px 0 0 80px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 828px){
    .checkbtn{
      display: block;
    }
    label.logo img{
        width: 90px;
        height: 90px;
        margin: 12px 0 0 80px;
      }
    
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #000000af;
      top: 120px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: rgb(255, 224, 50);
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  section{
    background: url(#) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
  }

body {
    background-image: url(/images/background.jpg);
    background-repeat: repeat-x;
}